<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags --> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>LABNETX</title>
		<link rel="stylesheet" href="../vendors/mdi/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="../vendors/owl.carousel/css/owl.carousel.css">
		<link rel="stylesheet" href="../vendors/owl.carousel/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="../vendors/aos/css/aos.css">
		<link rel="stylesheet" href="../vendors/jquery-flipster/css/jquery.flipster.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="shortcut icon" href="../images/icons/fav_icon_editted.png" />
	</head>
	<body data-spy="scroll" data-target=".navbar" data-offset="50">
		<div id="mobile-menu-overlay"></div>
		<nav class="navbar navbar-expand-lg fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="../images/icons/logo_main_editted.png" alt="Logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="mdi mdi-menu"> </i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<div class="d-lg-none d-flex justify-content-between px-4 py-3 align-items-center">
						<img src="../images/logo-dark.svg" class="logo-mobile-menu" alt="logo">
						<a href="javascript:;" class="close-menu"><i class="mdi mdi-close"></i></a>
					</div>
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item active">
							<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#features">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#blogs">Blogs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#testimonial">Testimonials</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact">Contact Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-success" href="/login">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="page-body-wrapper">
			<section id="home" class="home">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="main-banner">
								<div class="d-sm-flex justify-content-between">
									<div data-aos="zoom-in-up">
										<div class="banner-title">
												<h3 class="font-weight-medium">LABNETX
											</h3>
										</div>
										<p class="mt-3">Molecular Pathology Simplified
											<br>
										</p>
										<a href="/login" class="btn btn-secondary mt-3">Learn more</a>
									</div>
									<div class="mt-5 mt-lg-0">
										<img src= "#" alt="IMAGE1" class="img-fluid" data-aos="zoom-in-up">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="our-process" id="about">
				<div class="container">
					<div class="row">
						<div class="col-sm-6" data-aos="fade-up">
							<h5 class="text-dark"></h5>
							<h3 class="font-weight-medium text-dark">About LABNETX</h3>
							<h5 class="text-dark mb-3"></h5>
							<p class="font-weight-medium mb-4">
							</p>
							<div class="d-flex justify-content-start mb-3">
								<p class="mb-0" style="text-align: justify;"><b>LABNETX</b> is a RT-PCR workflow platform that enables labs to manage their RT-PCR workflow efficiently. The LIMS-like functionality helps labs manage their workflow right from patient registration, sample collection, sample tracking, as well as batch analysis and reporting. The platform includes all the ncessary components for workflow management. Along with giving fast reviews and a shortened batch reporting tunraround time the workflow helps track the samples closely.</p>
							</div>
							<div class="d-flex justify-content-start mb-3">
							</div>
							<div class="d-flex justify-content-start">							</div>
							<br><br>
						</div>
						<div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
							<img src= "../images/icons/about_final.png" alt="IMAGE2" class="img-fluid">
						</div>
					</div>
				</div>
			</section>
			<section class="our-services" id="features">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="text-dark"></h5>
							<h3 class="font-weight-medium text-dark mb-5">Our Features</h3>
						</div>
					</div>
					<div class="row" data-aos="fade-up">
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="../images/design-development.svg" alt="integrated-marketing" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Front Desk
								</h6>
								<p>
									The main function of the front desk is to register new patients and search for existing
									ones. The front desk registers new patient information that includes his full name,
									gender, email ID etc.
								</p>
								
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box"   data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="../images/design-development.svg" alt="design-development" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Sample Collection Module
								</h6>
								<p>
									 The Sample Collection module helps the team to manage samples including walk-ins, at-home and onsite. Sample collection enables the user to monitor sampes and complete the collection steps on their mobile, even while on the move. 
								</p>
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="../images/digital-strategy.svg" alt="digital-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Lab Technician
								</h6>
								<p>
									The Lab technician manages the workflow and hence, depend on the LabNetX solution to track right through sample acceptance, RNA extraction and PCR setup. All the samples collected are accessible by the Patient ID or Accession ID.
								</p>
							</div>
						</div>
					</div>
					<div class="row" data-aos="fade-up">
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box  pb-lg-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="../images/digital-strategy.svg" alt="digital-marketing" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Microbiologist
								</h6>
								<p>
									When a Microbiologist logins to the software he can access the different locations
									where tests have been made.
								</p>
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
							<div class="services-box pb-lg-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
								<img src="../images/growth-strategy.svg" alt="growth-strategy" data-aos="zoom-in">
								<h6 class="text-dark mb-3 mt-4 font-weight-medium">Live Teleconsultations
								</h6>
								<p>
									Remote live view and capture of the pathology images through microscope.
								</p>
								
							</div>
						</div>
						<div class="col-sm-4 text-center text-lg-left">
						</div>
					</div>
				</div>
			</section>
			{{!-- <section class="our-projects" id="blogs">
				<div class="container">
					<div class="row mb-5">
						<div class="col-sm-12">
							<div class="d-sm-flex justify-content-between align-items-center mb-2">
								<h3 class="font-weight-medium text-dark ">Our Latest Blogs</h3>
								<div><a href="#" class="btn btn-outline-primary">View more</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5" data-aos="fade-up">
					<div class="owl-carousel-projects owl-carousel owl-theme">
						<div class="item">
							<img src="../images/logo_samples/LabNetx Logo (2).png" alt="slider">
						</div>
						<div class="item">
							<img src="../images/logo_samples/LabNetx Logo (3).png" alt="slider">
						</div>
						<div class="item">
							<img src="../images/logo_samples/LabNetx Logo (4).png" alt="slider">
						</div>
						<div class="item">
							<img src="../images/logo_samples/LabNetx Logo (5).png" alt="slider">
						</div>
						<div class="item">
							<img src="../images/logo_samples/LabNetx Logo.png" alt="slider">
						</div>
					</div>
				</div>
			</section> --}}
			
			{{!-- <section class="our-projects" id="videoLib">
				<div class="container">
					<div class="row mb-5">
						<div class="col-sm-12">
							<div class="d-sm-flex justify-content-between align-items-center mb-2">
								<h3 class="font-weight-medium text-dark ">Video Library</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-5" data-aos="fade-up" >
					<div class="owl-carousel-projects owl-carousel owl-theme">
						<div class="item">
							<video src = "../images/carousel/Final_FD_Barcode.mp4" controls></video>
						</div>
						<div class="item">
							<video src = "../images/carousel/Final_Sample _C.mp4" controls></video>
						</div>
						<div class="item">
							<video src = "../images/carousel/Front Desk Report Print_Alert.mp4" controls></video>
						</div>
						<div class="item">
							<video src = "../images/carousel/Lab Technician_Demo.mp4" controls></video>
						</div>
						<div class="item">
							<video src = "../images/carousel/Microbiologist Demo.mp4" controls></video>
						</div>
					</div>
				</div>
			</section> --}}
			{{!-- <section class="testimonial" id="testimonial">
				<div class="container">
					<div class="row  mt-md-0 mt-lg-4">
						<div class="col-sm-6 text-white" data-aos="fade-up">
							<p class="font-weight-bold mb-3">Testimonials</p>
							<h3 class="font-weight-medium">Our customers are our <br>biggest fans</h3>
							<ul class="flipster-custom-nav">
								<li class="flipster-custom-nav-item">
									<a href="javascript:;" class="flipster-custom-nav-link" title="0"></a>
								</li>
								<li class="flipster-custom-nav-item">
									<a href="javascript:;" class="flipster-custom-nav-link"  title="1"></a>
								</li>
								<li class="flipster-custom-nav-item">
									<a href="javascript:;" class="flipster-custom-nav-link active" title="2"></a>
								</li>
								<li class="flipster-custom-nav-item">
									<a href="javascript:;" class="flipster-custom-nav-link"  title="3"></a>
								</li>
							</ul>
						</div>
						<div class="col-sm-6" data-aos="fade-up">
							<div id="testimonial-flipster">
								<ul>
									<li>
										<div class="testimonial-item">
											<img src="../images/testimonial/testimonial1.jpg" alt="icon" class="testimonial-icons">
											<p>Lorem ipsum dolor sit amet, consectetur
												pretium pretium tempor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium
											</p>
											<h6 class="testimonial-author">Mark Spenser</h6>
											<p class="testimonial-destination">Accounts</p>
										</div>
									</li>
									<li>
										<div class="testimonial-item">
											<img src="../images/testimonial/testimonial2.jpg" alt="icon" class="testimonial-icons">
											<p>Lorem ipsum dolor sit amet, consectetur
												pretium pretium tempor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium
											</p>
											<h6 class="testimonial-author">Tua Manuera</h6>
											<p class="testimonial-destination">Director,Dj market</p>
										</div>
									</li>
									<li>
										<div class="testimonial-item">
											<img src="../images/testimonial/testimonial3.jpg" alt="icon" class="testimonial-icons">
											<p>Lorem ipsum dolor sit amet, consectetur
												pretium pretium tempor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium
											</p>
											<h6 class="testimonial-author">Sarah Philip</h6>
											<p class="testimonial-destination">Chief Accountant</p>
										</div>
									</li>
									<li>
										<div class="testimonial-item">
											<img src="../images/testimonial/testimonial4.jpg" alt="icon" class="testimonial-icons">
											<p>Lorem ipsum dolor sit amet, consectetur
												pretium pretium tempor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium
											</p>
											<h6 class="testimonial-author">Mark Spenser</h6>
											<p class="testimonial-destination">Director,Dj market</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section> --}}
			<section class="contactus" id="contact">
				<div class="container">
					<div class="row mb-5 pb-5">
						<div class="col-sm-5" data-aos="fade-up" data-aos-offset="-500">
							<img src="../images/contact.jpg" alt="contact" class="img-fluid">
						</div>
						<div class="col-sm-7" data-aos="fade-up" data-aos-offset="-500">
							<h3 class="font-weight-medium text-dark mt-5 mt-lg-0">Contact Us</h3>
							<h5 class="text-dark mb-5">If you have any queries or feedback</h5>
							<form>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="name" placeholder="Name*">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<input type="email" class="form-control" id="mail" placeholder="Email*">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<textarea name="message" id="message" class="form-control" placeholder="Message*" rows="5"></textarea>
										</div>
									</div>
									<div class="col-sm-12">
										<a href="#" class="btn btn-secondary">SEND</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<address>
								<p>Hyerabad, Telangana, India</p>
								<br><br>	
								<div class="d-flex align-items-center">
									<a href="mailto:LabnetX@onwardhealth.co" class="footer-link">LabnetX@onwardhealth.co</a>
								</div>
							</address>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-4">
									<h6 class="footer-title">Social Share</h6>
									<ul class="list-footer">
										<li><a href="https://twitter.com/LabNeTx1" class="footer-link">Twitter</a></li>
										<li><a href="https://www.linkedin.com/company/telepath-pcr/" class="footer-link">LinkedIn</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h6 class="footer-title">Product</h6>
									<ul class="list-footer">
										<li><a href="#" class="footer-link">Digital Marketing</a></li>
										<li><a href="#" class="footer-link">Web Development</a></li>
										<li><a href="#" class="footer-link">App Development</a></li>
										<li><a href="#" class="footer-link">Design</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h6 class="footer-title">Company</h6>
									<ul class="list-footer">
										<li><a href="#" class="footer-link">Partners</a></li>
										<li><a href="#" class="footer-link">Investors</a></li>
										<li><a href="#" class="footer-link">Partners</a></li>
										<li><a href="/faq" class="footer-link">FAQ</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<img src="../images/icons/logo_main_editted.png" alt="logo" class="LOGO">
							<p class="mb-0 text-small pt-1">   © 2021-2022 <a href="/" class="text-white" target="_blank">LABNETX</a>. All rights reserved.</p>
						</div>
						<div>
							<div class="d-flex">
								<a href="#" class="text-small text-white mx-2 footer-link">Privacy Policy </a>          
								<a href="/faq" class="text-small text-white mx-2 footer-link">FAQ </a>
								<a href="#" class="text-small text-white mx-2 footer-link">Careers </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="../vendors/base/vendor.bundle.base.js"></script>
		<script src="../vendors/owl.carousel/js/owl.carousel.js"></script>
		<script src="../vendors/aos/js/aos.js"></script>
		<script src="../vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
		<script src="js/template.js"></script>
	</body>
</html>